polars
pandas
faiss-cpu
google-generativeai
gradio
python-dotenv
numpy
requests
urllib3
certifi
charset-normalizer
idna
aiohttp
aiofiles
aiohappyeyeballs
aiosignal
anyio
attrs
beautifulsoup4
cachetools
cffi
click
colorama
comm
dataclasses-json
decorator
defusedxml
dirtyjson
distro
duckdb
fastapi
filelock
frozenlist
fsspec
google-api-core
google-api-python-client
google-auth
googleapis-common-protos
gradio-client
greenlet
grpcio
h11
httpcore
httplib2
httpx
huggingface-hub
jinja2
joblib
json5
jsonpointer
jupyter-client
jupyter-core
llama-index
llama-index-core
llama-index-embeddings-gemini
llama-parse
markdown-it-py
markupsafe
marshmallow
matplotlib-inline
mdurl
multidict
mypy-extensions
networkx
nltk
openai
openpyxl
orjson
packaging
parso
pillow
platformdirs
prometheus-client
prompt-toolkit
propcache
proto-plus
protobuf
psutil
pure-eval
pyarrow
pyasn1
pyasn1-modules
pycparser
pydantic
pyparsing
pypdf
python-dateutil
pytz
pywin32
pyyaml
pyzmq
regex
rfc3339-validator
rfc3986-validator
rich
rsa
ruff
safehttpx
safetensors
semantic-version
setuptools
six
sniffio
soupsieve
sqlalchemy
stack-data
starlette
striprtf
tabulate
tenacity
tiktoken
tokenizers
tomlkit
tornado
tqdm
traitlets
transformers
typer
typing-extensions
typing-inspect
tzdata
uri-template
uritemplate
uvicorn
wcwidth
webencodings
websockets
wheel
wrapt
yarl